.appriseOverlay{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.3);
    display:none;
    z-index: 12;
}
.appriseOuter{
    background:#eee;
    border:1px solid #fff;
    box-shadow:0 3px 7px #333;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index:99999999;
    min-width:300px;
    min-height:50px;
    max-width:75%;
    position:fixed;
    display:none;
    border-top: 0;
}
.appriseInner{
    color:#333;
    text-shadow:0 1px 0 #fff;
    padding:10px;
}
.appriseInner button{
    border:1px solid #bbb;
    border-radius: 3px;
    background:0;
    color:#232d3d;
    font-size:12px;
    font-weight:700;
    text-shadow:0 1px 0 #fff;
    cursor:pointer;
    box-shadow:0 1px 2px #ccc;
    margin:0 3px;
    padding:4px 10px;
}
.appriseInner button:hover{
    color:#d85054;
}
.aButtons,.aInput{
    text-align:center;
    margin:20px 10px 0;
}
.aTextbox{
    border:1px solid #aaa;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow:0 1px 0 #fff;
    width:280px;
    font-size:13px;
    padding:5px 10px;
}