/* 
    Document   : history
    Created on : 12.07.2012, 11:53:36
    Author     : anton
    Description:
        Purpose of the stylesheet follows.
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em;
    margin: 0;
}
div.search_panel h1 {
    margin: 0;
    padding: 0;
    font-size: 1.571em;
    font-weight: normal;
    cursor: default;
}
div.search_panel {
    padding: 20px;
    background-color: #F1F1F1;
    border-bottom: 1px solid silver;
    -webkit-user-select: none;
}

div.search_panel > div.left {
    display: inline-block;
}

div.search_panel > div.right {
    display: inline-block;
    float: right;
}
div.search_panel > div.right input {
    width: 0;
}
.sbutton {
    height: 26px !important;
    background-color: #ffffff;
    border-color: #cccccc;
    color:#333333;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    display:inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding:2px 8px;
    text-decoration:none;
    margin-top: 0;
    font-size: 1em;
    cursor: pointer;
    border:1px solid #cccccc;
}
.sbutton:hover {
    background-color: #ebebeb;
    border-color: #adadad;
}
.sbutton:active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

div.search_panel > div.right input.main {
    padding-left: 14px;
    padding-right: 14px;
    background-image: url(../images/main.png);
    background-repeat:  no-repeat;
    background-position: center;
}
ol.list li {
    list-style: none;
    cursor: default;
}
ol.list > li > div {
    display: inline-block;
    height: 16px;
}
ol.list > li > div.remove {
    width: 16px;
    margin-right: 4px;
}
ol.list div.rm_btn {
    background: url(../images/clear.png) center center no-repeat;
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    margin-top: 3px;
    display: none;
    cursor: pointer;
}
ol.list > li:hover div.rm_btn {
    display: block;
}
ol.list div.time {
    color: #979CA0;
    width: 90px;
}
ol.list a {
    color: #000;
    text-decoration: none;
}
ol.list a:hover {
    text-decoration: underline;
}
div.topbtn {
    display: 0;
    bottom: 0;
    width: 50px;
    height: 60px;
    background: url(../images/go_top.png) no-repeat center bottom;
    position: fixed;
    right: 0;
    z-index: 10;
    cursor: pointer;
    padding-top: 100%;
    opacity: 0.9;
}
div.topbtn:hover {
    background-color:#9CF;
}