/* fonts */

div.tags {
    font-size: 1em;
    line-height: normal;
    position: relative;
}

div.tags a {
    font-size: inherit;
    text-decoration: none;
}
div.tags span {
    position: absolute;
}
div.tags span.w10 { font-size: 2.00em; }
div.tags span.w9   { font-size: 1.90em; }
div.tags span.w8   { font-size: 1.80em; }
div.tags span.w7   { font-size: 1.70em; }
div.tags span.w6   { font-size: 1.60em; }
div.tags span.w5   { font-size: 1.50em; }
div.tags span.w4   { font-size: 1.40em; }
div.tags span.w3   { font-size: 1.30em; }
div.tags span.w2   { font-size: 1.20em; }
div.tags span.w1   { font-size: 1.00em; }

/* colors */

div.tags { color: #09f; }
div.tags a { color: inherit; }
div.tags a:hover { color: rgb(0, 10, 255); }
div.tags span.w10 { 
    color: rgb(0, 98, 223);
}
div.tags span.w9 { 
    color: rgb(192, 108, 0);
}
div.tags span.w8 { 
    color: rgb(177, 28, 171);
}
div.tags span.w7 { 
    color: rgb(0, 137, 228);
}
div.tags span.w6 { 
    color: rgb(8, 67, 218);
}
div.tags span.w5 { 
    color: rgb(240, 58, 0);
}
div.tags span.w4 { 
    color: rgb(0, 0, 0);
}
div.tags span.w3 { 
    color: rgb(134, 0, 197);
}
div.tags span.w2 { 
    color: rgb(184, 0, 0);
}
div.tags span.w1 { 
    color: rgb(0, 82, 158);
}
div.tags span:hover {
    background-color: #ebebeb;
    border-radius: 6px;
}