/* 
    Document   : options
    Created on : 27.06.2012, 17:09:46
    Author     : Anton
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    background-color: #F1F1F1;
}
body > center > h1 {
    margin: 0;
}
#internalTrackers a {
    color: #1A3DC1;
}
#internalTrackers {
    border-collapse: collapse;
}
#internalTrackers img {
    margin-left: 5px;
}
#internalTrackers td {
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
}
#internalTrackers tr.b {
    background-color: #FFF;
}
#internalTrackers thead {
    background-color: #C8C8C8;
    font-size: 12px;
}
#internalTrackers td.desc {
    font-size: 12px;
}
body > center > h2 {
    margin: 0;
}
fieldset, div.save_panel {
    margin: 0 auto;
    width: 550px;
}
fieldset > fieldset {
    margin: 0 auto;
    width: 525px;
    margin-bottom: 10px;
}
fieldset {
    border: 1px solid #C8C8C8;
    box-shadow: 1px 1px white,inset 0 -20px 60px -20px #DDD,inset 1px 1px white;
    margin-bottom: 10px;
}
legend {
    background-color: #F1F1F1;
}
td.status {
    text-align: center;
}
div.save_panel div.progress {
    width: 30px;
    height: 30px;
    background-image: url(../images/progress.gif);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 9px;
    margin-bottom: -9px;
    display: none;
}
div.save_panel input {
    padding-left: 5px;
    padding-right: 5px;
}
div.save_panel {
}
div.copy {
    clear: left;
    padding-top: 10px;
    text-align: center;
    color: #a0a0a0;
    text-decoration: none;
    font-size: 12px;
}
ul.option {
    list-style: none;
    padding: 0;
    margin: 0;
}
div.icons {
    display: inline-block;
    margin-right: 3px;
}
div.icons > div {
    display: inline-block;
    width: 16px;
    height: 16px;
    opacity: 0.6;
}
div.icons > div:hover {
    opacity: 1;
}

div.icons > div.auth {
    background: url(../images/need_auth.png) center center;
}

div.icons > div.rus {
    background: url(../images/russian.png) center center;
}

div.icons > div.cirilic {
    background: url(../images/cyrillic.png) center center;
}

div.backup_form { 
        padding-top: 10px;
}
div.backup_form > div { 
        margin-bottom: -3px;
}
div.backup_form > div.restore, div.backup_form > div.backup {
	background-color:#dddddd;
	margin-top: 4px;
	border: 1px solid #c0c0c0;
	overflow: hidden;
        padding-bottom: 2px;
}
div.backup_form > textarea, div.backup_form textarea {
	width: 98%;
        margin-left: 2px;
}
div.backup_form a.backup_tab, div.backup_form a.restore_tab {
	border-top-left-radius: 4px; 
	border-top-right-radius: 4px; 
	padding:5px; 
	padding-bottom: 2px; 
	margin-right: 10px; 
	text-decoration: none;
	border: 1px solid #c0c0c0;
	border-bottom: 0px;
	background-color:#f2f2f2; 
	color: #82838e;
}
div.backup_form a.backup_tab.active, div.backup_form a.restore_tab.active {
	background-color:#dddddd; 
	color: #2f5be1;	
}
div.backup_form input[name=backup_btn], div.backup_form input[name=restore_btn] {
    font-size:18px;
}
div.backup_form input[name=restore_btn] {
    float:left;
}