body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em;
    margin: 0;
}

input[type=text] {
    border: 1px solid #cccccc;
    outline: none;
    padding-bottom: 1px;
    padding-top: 1px;
    font-size: 1em;
}
input[type=text]:hover {
    border: 1px solid #999999;
}
input[type=text]:focus {
    border: 1px solid #3366ff !important;
}

input.button {
    background-color: transparent;
    color: #333333;
    border-radius: 2px;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 4px 8px;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #cccccc;
    font-size: 14px;
    outline: 0;
}

input.button:hover {
    background-color: #ebebeb;
    border-color: #adadad;
}

input.button:active {
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.clear {
    background: url(../images/clear.png) center center no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    display: none;
    opacity: 0.5;
    transition: opacity .2s;
}
.btn.clear:hover {
    opacity: 1;
}

div.search_panel {
    min-width: 600px;
    text-align: center;
    padding: 21px;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
div.search_panel > * {
    display: inline-block;
    vertical-align: middle;
}

div.search_panel .searchForm {
    position: relative;
}
div.search_panel .searchForm > input {
    display: inline-block;
    vertical-align: middle;
}
div.search_panel .searchForm input#search_input {
    height: 24px;
    width: 487px;
    padding-left: 5px;
    padding-right: 20px;
    font-size: 1.143em;
}
div.search_panel .searchForm .btn.clear {
    left: 495px;
    top: 6px;
}
div.search_panel .searchForm input.search {
    background-color: #337AF8;
    border-color: #337AF8;
    color: #fff;
    padding: 5px;
    padding-left: 16px;
    padding-right: 16px;
    height: 28px !important;
    line-height: 14px;
}
div.search_panel .searchForm input.search:hover {
    background-color: #337AF8;
    border-color: #2B68C1;
    color: #fff;
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
div.search_panel .searchForm input.search:active {
    border-color: #2B68C1;
    color: #fff;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.ui-autocomplete {
    border: 1px solid silver;
    background: #FFF;
    color: #333;
    width: 450px;
    list-style: none;
    padding: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 0;
    max-height: 153px;
    overflow-y: auto;
    z-index: 100;
    position: absolute;
}

.ui-autocomplete {
    position: relative;
    margin: 0;
}

.ui-autocomplete li {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.ui-autocomplete li.ui-state-focus {
    background-color: #337AF8;
    color: #fff;
}
.ui-helper-hidden-accessible {
    display: none;
}