body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em;
    margin: 0;
    overflow-y: scroll;
    min-width: 960px;
}

input[type=text] {
    border: 1px solid #cccccc;
    outline: none;
    padding-bottom: 1px;
    padding-top: 1px;
    font-size: 1em;
}
input[type=text]:hover {
    border: 1px solid #999999;
}
input[type=text]:focus {
    border: 1px solid #3366ff !important;
}
select {
    font-size: 1em;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
}
th {
    font-weight: normal;
}

input.button {
    background-color: transparent;
    color: #333333;
    border-radius: 2px;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 4px 8px;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #cccccc;
    font-size: 14px;
    outline: 0;
}

input.button:hover {
    background-color: #ebebeb;
    border-color: #adadad;
}

input.button:active {
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

#main_container {
    /*overflow: hidden;*/
    position: relative;
}
#main_container.loading {
    visibility: hidden;
}

#main_container div.left {
    margin-right: 180px;
    padding-top: 5px;
}
#options_column {
    width: 175px;
    float: right;
    padding-top: 5px;
    padding-right: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#result_table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 2px;
    border-top: 1px #c0c0c0 solid;
}
#result_table th {
    cursor: pointer;
    border-right: 1px #c0c0c0 dashed;
    border-left: 1px #c0c0c0 dashed;
    border-bottom: 1px #c0c0c0 solid;
    font-size: 0.857em;
}
#result_table tr > .quality {
    text-align: center;
}
#result_table td.quality {
    color: #CCC;
}
/*
#result_table tr:nth-child(even) {
    background-color: #f9f9f9;
}
*/
#result_table td {
    padding-top: 12px;
    padding-bottom: 12px;
}

#result_table td > div.title {
    margin-left: 4px;
}
#result_table td div.title > span {
    word-wrap: break-word;
}
#result_table td div.title a {
    text-decoration: none;
    line-height: 130%;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
}
#result_table td div.title a:link {
    color: #1A3DC1;
}

#result_table td div.title a:link:hover {
    border-bottom-color: #1A3DC1;
}

#result_table td div.title a:visited {
    color: #609;
}

#result_table td div.title a:visited:hover {
    border-bottom-color: #609;
}

#result_table td div.category {
    color: #555;
    display: inline-table;
    margin-left: 8px;
}

#result_table td div.category,
#result_table td div.category a {
    color: #093;
    font-size: 0.929em;
}


#result_table td.time {
    text-align: left;
    color: #666;
    font-size: 0.857em;
}

#result_table td.time div {
    margin-left: 8px;
}

#result_table div.tracker_icon {
    opacity: 0.5;
    margin-top: 3px;
    margin-bottom: -3px;
    margin-left: 5px;
    height: 16px;
    width: 16px;
    transition: opacity .2s;
}

#result_table div.tracker_icon:hover {
    opacity: 1;
}

#result_table tr > .size {
    text-align: center;
    white-space: nowrap;
    font-size: 0.857em;
}

#result_table td.size a:visited {
    color: #999;
}

#result_table tr >.seeds {
    text-align: center;
    font-size: 0.857em;
}

#result_table tr >.leechs {
    text-align: center;
    font-size: 0.857em;
}

#result_table th.sortDown {
    background-image: url('../images/down.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-color: #ccc;
}

#result_table th.sortUp {
    background-image: url('../images/up.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-color: #ccc;
}

#result_container {
    display: none;
}

#result_category_container {
    padding-left: 0;
    margin: 0;
    margin-left: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#result_category_container li {
    display: inline-block;
    margin-right: 3px;
    border: 1px #c0c0c0 solid;
    border-bottom: 0;
    background-color: #FFF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 3px;
    cursor: pointer;
    font-size: 0.857em;
}

#result_category_container li > a {
    text-decoration: none;
}

#result_category_container li.selected {
    background-color: #337AF8;
    color: #fff;
    cursor: default;
    border: 1px solid #337AF8;
    border-bottom: 0;
}

#result_category_container li.selected > a {
    color: #fff;
    cursor: default;
}

#result_category_container > li > i {
    margin-left: 2px;
}

#result_category_container li.hide {
    display: none;
}

#options_column > div {
    margin-bottom: 10px;
    position: relative;
}

#options_column > div > p {
    margin: 0;
    cursor: default;
}

#tracker_list_container a.editTrackerList {
    background: url(../images/edit_list.png) center center no-repeat;
    width: 16px;
    height: 16px;
    z-index: 1;
    opacity: 0.5;
    display: inline-block;
    margin-bottom: -3px;
    transition: opacity .2s;
}
#tracker_list_container a.editTrackerList:hover {
    opacity: 1;
}

#word_filter_container {
    z-index: 11;
}

#word_filter_container > input {
    width: 142px;
    padding-right: 18px;
    height: 19px;
}

.btn.clear {
    background: url(../images/clear.png) center center no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    display: none;
    opacity: 0.5;
    transition: opacity .2s;
}
.btn.clear:hover {
    opacity: 1;
}

#word_filter_container > .btn.clear {
    top: 19px;
    right: 15px;
}
#word_filter_container > .btn.clear.loading {
    background-image: url(../images/loading.gif);
}

div.tracker_icon {
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: inline-block;
    margin-top: 3px;
    margin-bottom: -3px;
}
div.tracker_icon.login {
    background-image: url(../images/login.png);
}


#tracker_list_container {
    position: relative;
}

#tracker_list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 2px;
    padding-bottom: 2px;
    overflow: hidden;
    border: 0 solid #fff;
    border-top-width: 1px;
    border-bottom-width: 1px;
    height: auto;
}
#tracker_list_container.ui-resizable:not(.ui-resizable-disabled) > #tracker_list:hover {
    overflow-y: auto;
}
#tracker_list li {
    display: block;
}
#tracker_list li > * {
    display: inline-block;
    vertical-align: middle;
}
#tracker_list > li > ul {
      margin-left: -24px;
}
#tracker_list li > .tracker_icon {
    margin: 0;
    width: 24px;
}
#tracker_list li > a {
    padding: 2px;
    padding-bottom: 3px;
    text-decoration: none;
    width: calc(100% - 52px);
}
#tracker_list > li > a > * {
    vertical-align: middle;
    display: inline-block;
}
#tracker_list > li > a:hover,
#tracker_list > li > a:hover + i{
    background-color: #ddd;
}
#tracker_list > li > a.selected,
#tracker_list > li > a.selected + i{
    background-color: #337AF8;
    color: #fff;
}
#tracker_list > li i {
    text-align: center;
    width: 24px;
    word-wrap: break-word;
    padding-top: 2px;
    padding-bottom: 3px;
    font-style: normal;
    cursor: default;
}

#tracker_list_container > .ui-resizable-s {
    position: absolute;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 6px;
    bottom: -10px;
    cursor: s-resize;
    background: url(../images/resize.png) no-repeat center center;
    opacity: 0.5;
    transition: opacity 0.2s;
}
#tracker_list_container > .ui-resizable-s:hover {
    opacity: 1;
}
#tracker_list::-webkit-scrollbar {
    width: 5px;
}

#tracker_list::-webkit-scrollbar-thumb:vertical {
    margin: 5px;
    background-color: #999;
    -webkit-border-radius: 5px;
}
#tracker_list::-webkit-scrollbar-button:start:decrement,
#tracker_list::-webkit-scrollbar-button:end:increment {
    height: 0px;
    display: block;
}


div.progress {
    width: 30px;
    position: relative;
    background-color: #CCC;
    cursor: default;
    border: 1px solid #fff;
    border-radius: 3px;
    overflow: hidden;
}
div.progress div {
    width: 30px;
    display: block;
    background-color: #3d94f6;
    text-align: center;
}
div.progress span {
    display: block;
    width: 30px;
    font-size: 0.857em;
    margin-top: -1px;
    margin-bottom: -1px;
}

div.search_panel {
    padding: 21px;

    border-bottom: 1px solid #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
div.search_panel > * {
    display: inline-block;
    vertical-align: middle;
}

div.search_panel .searchForm {
    position: relative;
}
div.search_panel .searchForm > input {
    display: inline-block;
    vertical-align: middle;
}
div.search_panel .searchForm input#search_input {
    height: 24px;
    width: 487px;
    padding-left: 5px;
    padding-right: 20px;
    font-size: 1.143em;
}
div.search_panel .searchForm .btn.clear {
    left: 495px;
    top: 6px;
}
div.search_panel .searchForm input.search {
    background-color: #337AF8;
    border-color: #337AF8;
    color: #fff;
    padding: 5px;
    padding-left: 3px;
    padding-right: 3px;
    height: 28px !important;
    line-height: 14px;
    text-align: center;
    width: 74px;
}
div.search_panel .searchForm input.search:hover {
    background-color: #337AF8;
    border-color: #2B68C1;
    color: #fff;
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
div.search_panel .searchForm input.search:active {
    border-color: #2B68C1;
    color: #fff;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

div.search_panel .buttonList {
    float: right;
}
div.search_panel > div.buttonList .button {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 28px;
}
div.search_panel > div.buttonList .button.settings {
    background-image: url(../images/settings2.png);
}
div.search_panel > div.buttonList .button.history {
    background-image: url(../images/history.png);
}
div.search_panel > div.buttonList .button.main {
    background-image: url(../images/main.png);
}

.ui-autocomplete {
    border: 1px solid silver;
    background: #FFF;
    color: #333;
    width: 450px;
    list-style: none;
    padding: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 0;
    max-height: 153px;
    overflow-y: auto;
    z-index: 100;
    position: absolute;
}
.ui-autocomplete li {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.ui-autocomplete li.ui-state-focus {
    background-color: #337AF8;
    color: #fff;
}
.ui-helper-hidden-accessible {
    display: none;
}



#scroll_to_top_btn {
    display: none;
    bottom: 0;
    width: 50px;
    background: url(../images/go_top.png) no-repeat center bottom;
    position: fixed;
    right: 0;
    z-index: 10;
    cursor: pointer;
    height: 100%;
    opacity: 0.9;
}
#scroll_to_top_btn:hover {
    background-color: #ddd;
}

#request_desc_container {
    padding-left: 5px;
    padding-right: 5px;
}

#request_desc_container > div {
    margin-bottom: 3px;
    overflow: hidden;
}

#request_desc_container > div > div.a-poster {
    float: right;
    margin: 3px;
}

#request_desc_container > div > div.a-poster > img {
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 200px;
    margin-bottom: -3px;
}

#request_desc_container > div > div.a-type {
    color: #777777;
    font-size: 1.143em;
    margin-top: 4px;
}

#request_desc_container > div > div.a-desc {
    color: #222;
    font-size: 1.000em;
    margin-top: 8px;
}

#request_desc_container > div > div.a-title {
    font-size: 2.143em;
}

#request_desc_container > div a {
    color: #1A3DC1;
    text-decoration: none;
}

#request_desc_container > div a:hover {
    text-decoration: underline;
}

#request_desc_container > div a:visited {
    color: #609;
}

#request_desc_container > div > div.a-table {
    margin-top: 10px;
}

#request_desc_container > div > div.a-table span.key {
    font-weight: bolder;
}

.ui-helper-hidden-accessible {
    display: none;
}

#result_table div.title a span.sub_name,
#info_popup .content a span.sub_name {
    color: #181818;
}
#result_table div.title a:visited span.sub_name,
#info_popup .content a:visited span.sub_name {
    color: #609;
}


#size_filter_container {
    z-index: 11;
}
#size_filter_container input {
    width: 62px;
    padding-left: 3px;
    padding-right: 3px;
}

#time_filter_container {
    z-index: 11;
}
#time_filter_container input {
    width: 64px;
    font-size: 0.929em;
}
#time_filter_container select {
    width: 162px;
}
#time_filter_container div.range {
    display: none;
    padding-left: 18px;
    background: url(../images/clock.png) center left no-repeat;
    margin-top: 4px;
}

#seed_filter_container {
    z-index: 11;
}
#seed_filter_container input {
    width: 62px;
    padding-left: 3px;
    padding-right: 3px;
}

#peer_filter_container {
    z-index: 11;
}
#peer_filter_container input {
    width: 62px;
    padding-left: 3px;
    padding-right: 3px;
}

#ui-datepicker-div {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: none;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-calendar th {
    font-size: 0.9em;
    width: 20px;
    font-weight: normal;
}

.ui-datepicker-calendar td a {
    color: #000;
    text-decoration: none;
}

.ui-datepicker-calendar td {
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.ui-datepicker-calendar .ui-datepicker-today {
    background-color: #E0E0E0;
}

.ui-datepicker-calendar .ui-datepicker-current-day {
    background-color: #FFC70D;
}

.ui-datepicker-calendar td:hover {
    background-color: #337AF8;
}

.ui-datepicker-calendar td.ui-datepicker-unselectable {
    opacity: 0.5;
}

.ui-datepicker-calendar td.ui-datepicker-unselectable:hover {
    background-color: #fff;
    cursor: default;
}

.ui-datepicker-week-end,
.ui-datepicker-calendar td.ui-datepicker-week-end > a {
    color: #a61b1b;
}

.ui-datepicker-calendar td:hover a,
.ui-datepicker-calendar td.ui-datepicker-week-end:hover > a {
    color: #fff;
}

.ui-icon.ui-icon-circle-triangle-w {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.ui-icon.ui-icon-circle-triangle-e {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.ui-datepicker-next.ui-corner-all {
    float: right;
    cursor: pointer;
    background: url(../images/back.png) center left no-repeat;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    background-position-y: 0px;
}

.ui-datepicker-prev.ui-corner-all {
    cursor: pointer;
    float: left;
    background: url(../images/back.png) center left no-repeat;
    background-position-y: 4px;
}

.ui-icon.ui-icon-circle-triangle-w:hover,
.ui-icon.ui-icon-circle-triangle-e:hover {
    -webkit-filter: invert(0.5);
}

div.donate {
    margin-left: 5px;
    margin-right: 5px;
}

div.donate a {
    display: block;
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #0051D8;
}
div.donate a.yandexMoney {
    background-image: url(../images/yandexMoney.png);
}
div.donate a.payPal {
    background-image: url(../images/payPal.png);
}
div.donate a.feedback {
    background-image: url(../images/info.png);
}

#profileList {
    border-width: 0;
    margin: 1px;
    padding-right: 1px;
    margin-right: 0;
}
#profileList:hover,
#profileList:focus,
#profileList:active {
    border-width: 1px;
    margin: 0;
    padding-right: 0;
}

#trackerListManager {
    position: absolute;
    display: block;
    width: 700px;
    height: 640px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 90;
    left: calc(50% - 350px);
    top: -1px;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#trackerListManager a {
    color: #0051D8;
}

#trackerListManager .mgr_header {
    padding: 14px;
    background-color: #E7E7E7;
}
#trackerListManager .mgr_header .title {
    font-size: 16px;
}
#trackerListManager .mgr_header a {
    float: right;
    margin-top: 2px;
}
#trackerListManager .mgr_sub_header {
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
}
#trackerListManager .mgr_sub_header a {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}
#trackerListManager .mgr_sub_header input {
    font-size: 16px;
    padding-left: 4px;
    padding-right: 4px;
    width: 140px;
    transition: border-color 1s;
}
#trackerListManager .mgr_sub_header input.error {
    border-color: red;
}
#trackerListManager .mgr_tracker_list_filter {
    padding: 16px;
    border: 1px dashed #CACACA;
    padding-bottom: 10px;
    padding-top: 10px;
    border-left: 0;
    border-right: 0;
}
#trackerListManager .mgr_tracker_list_filter a {
    line-height: 22px;
    font-weight: bolder;
    font-size: 12px;
    margin-right: 30px;
    padding: 2px;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    color: #000;
}
#trackerListManager .mgr_tracker_list_filter a > span:last-child {
    color: #949494;
}
#trackerListManager .mgr_tracker_list_filter a.selected {
    background-color: #337AF8;
    color: #fff;
}
#trackerListManager .mgr_tracker_list_filter a.selected > span {
    color: #fff;
}
#trackerListManager .mgr_tracker_list_filter input {
    float: right;
    font-size: 14px;
    padding-left: 24px;
    padding-right: 4px;
    width: 140px;
    margin-top: 1px;
    background-image: url(../images/mini_search.png);
    background-position: 4px center;
    background-repeat: no-repeat;
}
#trackerListManager .mgr_tracker_list {
    height: 457px;
    overflow: auto;
}
#trackerListManager .mgr_custom_tools {
    display: none;
    padding: 16px;
}
#trackerListManager.show_tools .mgr_custom_tools {
    display: block;
    border-bottom: 1px dashed #CACACA;
}
#trackerListManager.show_tools .mgr_custom_tools span {
    float: right;
}
#trackerListManager.show_tools .mgr_custom_tools .button {
    line-height: 12px;
    margin-top: -3px;
    margin-bottom: -3px;
    display: inline-block;
}
#trackerListManager.show_tools .mgr_tracker_list {
    height: 408px;
}
#trackerListManager .mgr_footer {
    padding: 16px;
    border-top: 1px dashed #ccc;
}
#trackerListManager .mgr_footer input.save {
    float: right;
    margin-top: -3px;
    line-height: 12px;
}
#trackerListManager button.actionBtn,
#trackerListManager input.actionBtn {
    height: 22px;
    width: 22px;
    background-color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #cccccc;
    background-position: center center;
    background-repeat: no-repeat;
}
#trackerListManager .mgr_footer input.advanced {
    float: left;
    margin-top: -3px;
    margin-right: 10px;
    background-image: url(../images/glass.png);
    outline: 0;
}
#trackerListManager .mgr_footer input.advanced.checked {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
#trackerListManager .mgr_tracker_list .tracker_item {
    padding: 6px;
    padding-bottom: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    border-left: 0;
    border-right: 0;
    margin-top: 1px;
    margin-bottom: 1px;
}
#trackerListManager .mgr_tracker_list .tracker_item.not_found {
    background-color: #FFE0E0;
}
#trackerListManager .mgr_tracker_list .tracker_item:hover {
    background-color: #DDD;
}
#trackerListManager .mgr_tracker_list .tracker_item.selected {
    background-color: #337AF8;
    color: #fff
}
#trackerListManager .mgr_tracker_list .tracker_item > div {
    display: inline-block;
    margin: 2px;
    vertical-align: middle;
}
#trackerListManager .mgr_tracker_list .tracker_item .tracker_icon {
    margin: 0;
    margin-left: 5px;
    margin-right: 9px;
    display: block;
    padding: 1px;
    border-radius: 4px;
    background-color: #fff;
    cursor: move;
}
#trackerListManager .mgr_tracker_list .tracker_item > div.title {
    width: 125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 10px;
    font-size: 14px;
}
#trackerListManager .mgr_tracker_list .tracker_item.selected a {
    color: #fff;
    text-decoration: underline;
}
#trackerListManager .mgr_tracker_list .tracker_item > div.infoContainer {
    font-size: 13px;
}
#trackerListManager .mgr_tracker_list .tracker_item > div.infoContainer .description {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 470px;
}
#trackerListManager.show_tools .mgr_tracker_list .tracker_item:not(.not_found) > div.infoContainer .description {
    width: 422px;
}
#trackerListManager .mgr_tracker_list .tracker_item.custom div.actionList {
    display: none;
    float: right;
    margin-top: 1px;
    margin-bottom: -2px;
}
#trackerListManager.show_tools .mgr_tracker_list .tracker_item.custom div.actionList {
    display: inline-block;
}
#trackerListManager .mgr_tracker_list .tracker_item div.actionList a {
    margin-right: 8px;
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    transition: opacity 0.2s;
}
#trackerListManager .mgr_tracker_list .tracker_item.selected div.actionList a {
    filter: invert(100%);
    -webkit-filter: invert(1);
    opacity: 0.8;
}
#trackerListManager .mgr_tracker_list .tracker_item div.actionList a:hover {
    opacity: 1;
}
#trackerListManager .mgr_tracker_list .tracker_item div.actionList a.custom_tracker_remove {
    background-image: url(../images/remove.png);
}
#trackerListManager .mgr_tracker_list .tracker_item div.actionList a.custom_tracker_edit {
    background-image: url(../images/edit_list.png);
}
#trackerListManager .mgr_tracker_list .tracker_item > div.status input {
    display: block;
    margin: 0;
}
#trackerListManager .mgr_tracker_list .ui-sortable-helper {
    background-color:#fff !important;
    border-radius: 4px;
    opacity: 0.9;
    display: block !important;
    color: #000 !important;
}
#trackerListManager .mgr_tracker_list .ui-sortable-helper a {
    color: #000 !important;
}
#trackerListManager .mgr_tracker_list .ui-state-highlight {
    background-color:#E7E7E7 !important;
    height: 37px;
    display: block !important;
    border: 1px dashed #CACACA;
    border-left: 0;
    border-right: 0;
}

#trackerListManager .mgr_tracker_list .options {
    display: none;
}

#trackerListManager .mgr_tracker_list div.icons {
    float: right;
}
#trackerListManager .mgr_tracker_list div.icons > div {
    display: inline-block;
    width: 16px;
    height: 16px;
    opacity: 0.6;
}
#trackerListManager .mgr_tracker_list div.icons > div:hover {
    opacity: 1;
}
#trackerListManager .mgr_tracker_list div.icons > div.auth {
    background: url(../images/need_auth.png) center center;
}
#trackerListManager .mgr_tracker_list div.icons > div.rus {
    background: url(../images/russian.png) center center;
}
#trackerListManager .mgr_tracker_list div.icons > div.cirilic {
    background: url(../images/cyrillic.png) center center;
}
#trackerListManager .mgr_tracker_list label.useProxy {
    line-height: 19px;
    vertical-align: top;
}