/* 
    Document   : stylesheet
    Created on : 23.06.2012, 17:26:23
    Author     : Антон
    Description:
        Purpose of the stylesheet follows.
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}
div.search_panel {
    padding: 20px;
    background-color: #F1F1F1;
    border-bottom: 1px solid #c0c0c0;
}
div.search_panel input[type=text] {
    height: 20px;
    font-size: 16px;
    width: 500px;
    padding-left: 9px;
    padding-right: 5px;
    float: left;
    height: 20px;
    font-size: 16px;
}
input[type=text] {
    border:  1px solid #cccccc;
    padding: 2px;
    outline: none;
}
input[type=text]:hover {
    border: 1px solid #999999;
    -webkit-box-shadow: inset 0 1px 5px #ebebeb;
}
input[type=text]:focus {
    border: 1px solid #3366ff !important;
    -webkit-box-shadow: inset 0 1px 5px #CCCccc;
}
.sbutton {
    -webkit-box-shadow:inset 0px 0px 4px 0px #97c4fe;
    box-shadow:inset 0px 0px 4px 0px #97c4fe;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
    background-color:#3d94f6;
    border-radius:2px;
    border-radius:3px;
    border:1px solid #337fed;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:16px;
    font-weight:bold;
    padding:2px 8px;
    text-decoration:none;
    text-shadow:0px 0px 0px #1570cd;
    margin-top: -0px;
}.sbutton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #3d94f6) );
    background-color:#1e62d0;
    cursor: pointer;
}.sbutton:active {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3F81EB), color-stop(1, #3F81EB) );
}


div.content {
    overflow: hidden;
    position: relative;
}
div.content div {
}
div.content div.left {
    margin-right: 180px;
    padding-top: 20px;
}
div.content div.right {
    width: 168px;
    float: right;
    padding-top: 5px;
}
#rez_table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 2px;
    border-top: 1px #c0c0c0 solid;
}
#rez_table thead {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.3, rgb(208,208,208)),
        color-stop(0.92, rgb(247,247,247))
        );
}
#rez_table a {
    text-decoration: none;
    color: #000;
}
#rez_table a:hover {
    text-decoration: underline;
}
#rez_table tr {
    font-size: 12px;
}
#rez_table tr th {
    cursor: pointer;
    border-right: 1px #c0c0c0 solid;
    font-weight: normal;
}
#rez_table > tbody > tr.even {
    background-color: #f8f8f8;
}
#rez_table > tbody > tr > td {
    padding-top: 12px;
    padding-bottom: 12px;
}
#rez_table > tbody > tr > td.name {
    padding-left: 10px;
}
#rez_table > tbody > tr > td.name > div.title > a {
    color: #1A3DC1;
    font-size: 14px;
}
#rez_table > tbody > tr > td.name > div.title > a:visited {
    color: #609;
    font-size: 14px;
}
#rez_table > tbody > tr > td.name > ul {
    padding-left: 0;
    margin: 0 auto;
    list-style: none;
    font-size: 11px;
    height: 14px;
    color: #555;
    margin-top: 2px;
}
#rez_table > tbody > tr > td.name > ul > li.category, #rez_table > tbody > tr > td.name > ul > li.category a {
    color: #093;
    font-size: 12px;
}
#rez_table > tbody > tr > td.name > ul > li {
    display: inline-table;
    margin-left: 4px;
}
#rez_table > thead > tr > th.time {
    text-align: left;
    width: 125px;
    padding-left: 15px;
}
#rez_table > tbody > tr > td.time {
    text-align: left;
    color: #666666;
    vertical-align: top;
    padding-left: 15px;
    font-size: 12px;
}
#rez_table div.tracker_icon {
    opacity: 0.5;
    margin-top: 3px;
    margin-bottom: -3px;
    margin-left: 5px;
    height: 16px;
    width: 16px;
}
#rez_table div.tracker_icon:hover {
    opacity: 1;
}
#rez_table .size {
    text-align: center;
    width: 80px;
    white-space: nowrap;
}
#rez_table .size a:visited {
    color: #999;
}
#rez_table .tracker {
    text-align: center;
    width: 20px;
}
/*#rez_table .seeds, #rez_table .leechs {
    display: none;
}*/
#rez_table .seeds {
    text-align: center;
    width: 30px;
}
#rez_table .leechs {
    text-align: center;
    width: 30px;
}
#rez_table > thead > tr > th.headerSortDown {
    background-image: url('../images/down.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-rigth: 3px;
}
#rez_table > thead > tr > th.headerSortUp {
    background-image: url('../images/up.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-rigth: 3px;
}
div.result_panel {
    display: none;
}
div.result_panel ul.categorys {
    padding-left: 0;
    margin: 0;
    margin-left: 4px;
}
div.result_panel ul.categorys li {
    display: inline-block;
    margin-right: 3px;
    border: 1px #c0c0c0 solid;
    border-bottom: 0;
    background-color: #FFF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 3px;
    font-size: 12px;
    cursor: pointer;
    box-shadow: inset 0 -2px 5px -2px #c0c0c0;
}
div.result_panel ul.categorys li.selected {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.5, rgb(38,98,237)),
        color-stop(0.9, rgb(100,138,241))
        );
    color: #FFF;
    cursor: default;
    border: 1px solid rgb(100,138,241);
    border-bottom: 0;
}
div.right > div {
    margin-bottom: 5px;
}
div.right > div > p {
    margin: 0;
    margin-bottom: 4px;
}
div.tracker_list {
    position: relative;
}
div.tracker_list > ul.trackers {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 28px;
}
div.filter {
    position: relative;
}
div.filter > input {
    width: 142px;
    padding-right: 18px;
}
div.filter > div.btn {
    background: url(../images/clear.png) center center no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 25px;
    left: 146px;
    cursor: pointer;
    z-index: 1;
    display: none;
}
div.tracker_list > div.setup {
    background: url(../images/settings.png) center center no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0px;
    left: 60px;
    cursor: pointer;
    z-index: 1;
    opacity: 0.3;
    display: inline-block;
}
div.tracker_list > div.setup:hover {
    opacity: 0.7;
}
div.tracker_icon {
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    display: inline-block;
    margin-top: 3px;
    margin-bottom: -3px;
}
div.tracker_list > ul.trackers div.tracker_icon {
    margin-left: -20px;
}
div.tracker_list > ul.trackers > li > a {
    text-decoration: none;
    margin-left: 2px;
    color: #000;
    padding: 2px;
}
div.tracker_list > ul.trackers > li > a:hover {
    background-color: #ebebeb;
    border-radius: 6px;
}
div.tracker_list > ul.trackers > li > a.selected {
    background-color: #99ccff;
    border-radius: 6px;
}
div.explore {
}
div.explore h2 {
    margin: 0;
    padding: 0;
    margin-left: 5px;
    -webkit-box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.5);
    font-weight: normal;
    margin-bottom: 5px;
}
div.explore div.films > div.poster {
    display: inline-block;
    width: 130px;
    padding: 6px;
    margin: 8px;
    overflow: hidden;
}
div.explore div.films > div.poster > div.title {
    overflow: hidden;
    height: 20px;
    margin: 0;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    margin-top: 2px;
    cursor: pointer;
}
div.explore div.films > div.poster > div.image {
    cursor: pointer;
    margin: 6px;
}
div.explore div.films > div.poster > div.image > img {
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}
div.explore div.films > div.poster > div.image > img:hover {
    -webkit-box-shadow: 0 0 15px #1A3DC1;
}


div.explore div.game > div.poster {
    display: inline-block;
    width: 110px;
    padding: 8px;
    margin: 2px;
    margin-top: 8px;
    overflow: hidden;
}
div.explore div.game > div.poster > div.title {
    overflow: hidden;
    height: 20px;
    margin: 0;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    margin-top: 2px;
    cursor: pointer;
}
div.explore div.game > div.poster > div.image {
    cursor: pointer;
    margin: 8px;
}
div.explore div.game > div.poster > div.image > img {
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}
div.explore div.game > div.poster > div.image > img:hover {
    -webkit-box-shadow: 0 0 15px #1A3DC1;
}

@-webkit-keyframes a_moveble150{
    0%{margin-left:2px;}
50%{margin-left:-75px;}
90%{margin-left:6px;}
100%{margin-left:2px;}
}
@-webkit-keyframes a_moveble200{
    0%{margin-left:2px;}
50%{margin-left:-100px;}
90%{margin-left:6px;}
100%{margin-left:2px;}
}
@-webkit-keyframes a_moveble250{
    0%{margin-left:2px;}
50%{margin-left:-125px;}
90%{margin-left:6px;}
100%{margin-left:2px;}
}
@-webkit-keyframes a_moveble300{
    0%{margin-left:2px;}
50%{margin-left:-150px;}
90%{margin-left:6px;}
100%{margin-left:2px;}
}
@-webkit-keyframes a_moveble350{
    0%{margin-left:2px;}
50%{margin-left:-175px;}
90%{margin-left:6px;}
100%{margin-left:2px;}
}
@-webkit-keyframes a_moveble400{
    0%{margin-left:2px;}
50%{margin-left:-200px;}
90%{margin-left:6px;}
100%{margin-left:2px;}
}
@-webkit-keyframes a_moveble450{
    0%{margin-left:2px;}
50%{margin-left:-225px;}
90%{margin-left:6px;}
100%{margin-left:2px;}
}
@-webkit-keyframes a_moveble500{
    0%{margin-left:2px;}
50%{margin-left:-250px;}
90%{margin-left:6px;}
100%{margin-left:2px;}
}
@-webkit-keyframes a_moveble550{
    0%{margin-left:2px;}
50%{margin-left:-275px;}
90%{margin-left:6px;}
100%{margin-left:2px;}
}
@-webkit-keyframes a_moveble600{
    0%{margin-left:2px;}
50%{margin-left:-300px;}
90%{margin-left:6px;}
100%{margin-left:2px;}
}
div.explore div.poster > div.title.moveble150:hover
{
    -webkit-animation:a_moveble150 6s 1;
    overflow: visible;
}
div.explore div.poster > div.title.moveble200:hover
{
    -webkit-animation:a_moveble200 6s 1;
    overflow: visible;
}
div.explore div.poster > div.title.moveble250:hover
{
    -webkit-animation:a_moveble250 6s 1;
    overflow: visible;
}
div.explore div.poster > div.title.moveble300:hover
{
    -webkit-animation:a_moveble300 6s 1;
    overflow: visible;
}
div.explore div.poster > div.title.moveble350:hover
{
    -webkit-animation:a_moveble350 6s 1;
    overflow: visible;
}
div.explore div.poster > div.title.moveble400:hover
{
    -webkit-animation:a_moveble400 6s 1;
    overflow: visible;
}
div.explore div.poster > div.title.moveble450:hover
{
    -webkit-animation:a_moveble450 6s 1;
    overflow: visible;
}
div.explore div.poster > div.title.moveble500:hover
{
    -webkit-animation:a_moveble500 6s 1;
    overflow: visible;
}
div.explore div.poster > div.title.moveble550:hover
{
    -webkit-animation:a_moveble550 6s 1;
    overflow: visible;
}
div.explore div.poster > div.title.moveble600:hover
{
    -webkit-animation:a_moveble600 6s 1;
    overflow: visible;
}