<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Anton V.</string>
	<key>Builder Version</key>
	<string>534.57.2</string>
	<key>CFBundleDisplayName</key>
	<string>Torrents MultiSearch</string>
	<key>CFBundleIdentifier</key>
	<string>com.feverqwe.tms</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.86</string>
	<key>CFBundleVersion</key>
	<string>1.0.86</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>background.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popup.html</string>
				<key>Height</key>
				<real>70</real>
				<key>Identifier</key>
				<string>popup</string>
				<key>Width</key>
				<real>642</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>tms-btn</string>
				<key>Image</key>
				<string>Icon-18.png</string>
				<key>Label</key>
				<string>Torrents MultiSearch</string>
				<key>Popover</key>
				<string>popup</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Torrents MultiSearch - search on some of the trackers at once!</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://static.tms.mooo.com/safari/update.plist</string>
	<key>Website</key>
	<string>http://bug-report-blog.blogspot.ru/</string>
</dict>
</plist>
