.dialog__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
}
.dialog__body {
    display: flex;
    flex-direction: column;

    position: relative;
    margin: 0 auto;

    z-index: 110;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.3);
    border-top: 0;
    padding: 10px;
    padding-top: 0;
}
.dialog__body .dialog__label {
    display: block;
    margin: 2px;
    margin-top: 10px;
}
.dialog__body .dialog__button_box {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}