#explore_block.hide {
    display: none;
}

#top_search {
    position: relative;
}
#top_search > ul {
    margin-bottom: 10px;
}
#top_search ul li {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 2px;
    padding-bottom: 3px;
    overflow: hidden;
}

#top_search ul.c3 li {
    width: 33%;
}
#top_search ul.c4 li {
    width: 25%;
}
#top_search a {
    color: #0051D8;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
#top_search a:hover {
    border-bottom-color: #0051D8;
}
#top_search .info {
    position: absolute;
    left: 14px;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    border: 1px dashed rgb(165, 165, 165);
    color: #fff;
}
#top_search .l1 span {
    font-size: 140%;
}
#top_search .l2 span {
    font-size: 130%;
}
#top_search .l3 span {
    font-size: 120%;
}
#top_search .l4 span {
    font-size: 110%;
}
#top_search .l5 span {
    font-size: 100%;
}
#top_search .t1 {
    background-color: #DB4733;
    border: 1px solid #fff;
    margin-top: 3px;
}
#top_search .t2 {
    background-color: #FFC70D;
    border: 1px solid #fff;
    margin-top: 3px;
}
#top_search .t3 {
    background-color: #337AF8;
    border: 1px solid #fff;
    margin-top: 1px;
}
#top_search .t4 {
    background-color: #009A57;
    border: 1px solid #fff;
}
#top_search .t5 {
    background-color: #8C5FFF;
    border: 1px solid #fff;
}
#top_search .l1 a:hover {
    border-color: #DB4733;
}
#top_search .l2 a:hover {
    border-color: #FFC70D;
}
#top_search .l3 a:hover {
    border-color: #337AF8;
}
#top_search .l4 a:hover {
    border-color: #009A57;
}
#top_search .l5 a:hover {
    border-color: #8C5FFF;
}

ul#explore_gallery {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
ul#explore_gallery li.collapsed > ul {
    display: none;
}
ul#explore_gallery li.empty {
    display: none;
}

ul#explore_gallery li div.head {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    line-height: 24px;
    height: 24px;
}
ul#explore_gallery li.collapsed div.head {
    border-bottom-color: transparent;
}
ul#explore_gallery div.head > * {
    display: inline-block;
    cursor: default;
    vertical-align: middle;
}
ul#explore_gallery li.loading div.head div.move {
    background: url(../img/loading.gif) no-repeat center;
    opacity: 1;
}
ul#explore_gallery li.timeout div.head div.move {
    background: url(../img/timeout.png) no-repeat center;
    opacity: 1;
}
ul#explore_gallery div.head div.move {
    width: 24px;
    height: 24px;
    background: url(../img/moveble.png) center center no-repeat;
    cursor: move;
    transition: opacity 0.2s;
    opacity: 0.5;
}
ul#explore_gallery div.head div.move:hover,
ul#explore_gallery li.ui-sortable-helper div.head div.move{
    opacity: 1;
}
ul#explore_gallery div.head div.title {
    font-size: 21px;
}
ul#explore_gallery li.collapsed div.head div.actionList {
    display: none;
}
ul#explore_gallery li div.head div.actionList > * {
    vertical-align: bottom;
}
ul#explore_gallery div.head div.actionList div {
    display: inline-block;
}
ul#explore_gallery div.head div.actionList div.setup {
    background: url(../img/settings.png) center center no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity .2s;
}
ul#explore_gallery div.head div.actionList div.setup:hover {
    opacity: 1;
}
ul#explore_gallery div.head div.actionList div.update {
    width: 24px;
    height: 24px;
    background: url(../img/sync.png) no-repeat center;
    cursor: pointer;
    transition: transform 0.5s;
    opacity: 0.5;
}
ul#explore_gallery div.head div.actionList div.update:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    opacity: 1;
}
ul#explore_gallery div.head div.actionList div.update.loading {
    background: url(../img/loading.gif) no-repeat center;
    opacity: 1;
}
ul#explore_gallery div.head div.actionList div.update.error {
    background: url(../img/error.png) no-repeat center;
}

ul#explore_gallery div.head div.actionList a.open {
    width: 24px;
    height: 24px;
    background: url(../img/external.png) no-repeat top center;
    display: inline-block;
    opacity: 0.5;
    transition: opacity .2s;
}
ul#explore_gallery div.head div.actionList a.open:hover {
    opacity: 1;
}

ul#explore_gallery div.head .setupBody {
    display: inline-block;
    height: 24px;
    vertical-align: bottom;
}

ul#explore_gallery div.head .setupBody input[type="range"] {
    vertical-align: bottom;
    width: 120px;
    margin: 0;
    margin-right: 5px;
    margin-left: 5px;
    height: 24px;
}

ul#explore_gallery div.head .setupBody .defaultSize {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-block;
    opacity: 0.5;
    transition: opacity .2s;
    background: url(../img/clear.png) center center no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

ul#explore_gallery div.head .setupBody .defaultSize:hover {
    opacity: 1;
}

ul#explore_gallery div.head div.collapses {
    float: right;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background: url(../img/show_hide.png) center center no-repeat;
    cursor: pointer;
    transition: transform 0.2s;
    opacity: 0.5;
}
ul#explore_gallery div.head div.collapses:hover {
    opacity: 1;
}
ul#explore_gallery li.collapsed div.head div.collapses {
    transform: rotate(90deg);
}
ul#explore_gallery div.head:hover div.collapses {
    opacity: 1;
}
ul#explore_gallery div.head > *:hover ~ div.collapses {
    opacity: 0.5;
}

ul#explore_gallery ul.pageList {
    text-align: center;
}
ul#explore_gallery ul.pageList.hide {
    display: none;
}
ul#explore_gallery ul.pageList > li {
    display: inline-block;
    border-radius: 4px;
    margin-left: 2px;
    min-width: 24px;
    height: 16px;
    cursor: default;

    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
ul#explore_gallery ul.pageList > li.active {
    background-color: #337af8;
    color: #fff;
}

ul#explore_gallery ul.body {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

ul#explore_gallery ul.body a {
    text-decoration: none;
}
ul#explore_gallery ul.body li {
    display: inline-block;
    position: relative;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
ul#explore_gallery ul.body div.picture {
    text-align: center;
    position: relative;
}

ul#explore_gallery ul.body div.picture img {
    max-width: 100%;
    box-shadow: 0 0 1px rgba(0,0,0,0.8);
}
ul#explore_gallery ul.body div.title {
    position: relative;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 0.857em;
}

ul#explore_gallery ul.body div.title a {
    color: #000;
}

ul#explore_gallery.sortMode .collapses,
ul#explore_gallery.sortMode .actionList,
ul#explore_gallery.sortMode .setupBody,
ul#explore_gallery.sortMode ul.body,
ul#explore_gallery.sortMode ul.pageList {
    display: none !important;
}
ul#explore_gallery.sortMode > li > .head {
    border-bottom-width: 0;
}
ul#explore_gallery li.ui-sortable-helper {
    background-color: #fff;
    border-radius: 3px;
    opacity: 0.8;
    padding-top: 2px;
    box-shadow: 0 0 1px rgba(0,0,0,0.8);
    height: auto !important;
}
ul#explore_gallery > li.ui-sortable-placeholder {
    height: 25px !important;
}

ul#explore_gallery .ui-sortable-placeholder {
    background-color: #337AF8;
    visibility: visible !important;
    border-radius: 3px;
}
ul#explore_gallery ul.body div.picture > div.quality > span {
    white-space: nowrap;
    font-size: .857em;
}
ul#explore_gallery ul.body div.picture > div.quality {
    position: absolute;
    visibility: hidden;
    bottom: -5px;
    left: -5px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    min-width: 16px;
    padding-left: 2px;
    padding-right: 2px;
    line-height: 18px;
    cursor: pointer;
    z-index: 1;
    transition: background-color .2s;
}
ul#explore_gallery ul.body div.picture:hover > div.quality {
    z-index: 14;
    visibility: visible;
}
ul#explore_gallery ul.body div.picture > div.quality:hover {
    background-color: #fff;
}
ul#explore_gallery ul.body div.picture > div.quality:hover div.info_popup {
    visibility: visible;
}
ul#explore_gallery ul.body div.picture > a.link {
    top: 0px;
    background: url(../img/external.png) no-repeat center center;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
ul#explore_gallery ul.body div.picture > div.inFavorite {
    top: 20px;
    background: url(../img/favorite.png) no-repeat center center;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
ul#explore_gallery ul.body div.picture > div.rmFavorite {
    top: 20px;
    background: url(../img/rmfavorite.png) no-repeat center center;
}
ul#explore_gallery ul.body div.picture > div.edit {
    top: 40px;
    background: url(../img/edit.png) no-repeat center center;
    background-position-x: 3px;
}
ul#explore_gallery ul.body div.picture > div.move {
    top: 60px;
    background: url(../img/move.png) no-repeat center center;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
ul#explore_gallery ul.body li div.picture > div.inFavorite,
ul#explore_gallery ul.body li div.picture > div.rmFavorite,
ul#explore_gallery ul.body li div.picture > div.move,
ul#explore_gallery ul.body li div.picture > div.edit,
ul#explore_gallery ul.body li div.picture > a.link {
    position: absolute;
    right: -10px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
    visibility: hidden;
    transition: background-color .2s;
}
ul#explore_gallery ul.body li div.picture:hover > div.inFavorite,
ul#explore_gallery ul.body li div.picture:hover > div.rmFavorite,
ul#explore_gallery ul.body li div.picture:hover > div.move,
ul#explore_gallery ul.body li div.picture:hover > div.edit,
ul#explore_gallery ul.body li div.picture:hover > a.link {
    visibility: visible;
}
ul#explore_gallery ul.body li div.picture > div.inFavorite:hover,
ul#explore_gallery ul.body li div.picture > div.rmFavorite:hover,
ul#explore_gallery ul.body li div.picture > div.move:hover,
ul#explore_gallery ul.body li div.picture > div.edit:hover,
ul#explore_gallery ul.body li div.picture > a.link:hover {
    background-color: #fff;
}