ul.explore {
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin-top: 8px;
}

.explore.explore-hide {
    display: none;
}

.explore li.section-collapsed > ul {
    display: none;
}

.explore li.section-hidden,
.explore li.section-empty {
    display: none;
}

.explore li div.section__head {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    cursor: pointer;
    line-height: 24px;
    height: 24px;
}
.explore li.section-collapsed div.section__head {
    border-bottom-color: transparent;
}
.explore div.section__head > * {
    display: inline-block;
    cursor: default;
    vertical-align: middle;
}
.explore li.section-loading div.section__head div.section__move {
    background: url(../img/refresh.svg) no-repeat center;
    background-size: 14px;
    opacity: 0.8;

    animation: rotate360 0.8s linear infinite;
}
.explore li.section-login div.section__head div.section__move {
    background: url(../img/login.svg) no-repeat center;
    background-size: 14px;
    opacity: 1;
}
.explore li.section-error div.section__head div.section__move {
    background: url(../img/ghost.svg) no-repeat center;
    background-size: 18px;
    opacity: 1;
}
.explore div.section__head div.section__move {
    width: 24px;
    height: 24px;
    background: url(../img/moveble.svg) center no-repeat;
    background-size: 16px;
    cursor: move;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
    opacity: 0.5;
}
.explore div.section__head div.section__move:hover,
.explore li.ui-sortable-helper div.section__head div.section__move{
    opacity: 1;
}
.explore div.section__head div.section__title {
    font-size: 21px;
}
.explore li.section-collapsed div.section__head div.section__actions {
    display: none;
}
.explore li div.section__head div.section__actions > * {
    vertical-align: bottom;
}
.explore div.section__head div.section__actions div {
    display: inline-block;
}
.explore div.section__head div.section__actions div.action__setup {
    background: url(../img/options.svg) center no-repeat;
    background-size: 14px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.explore div.section__head div.section__actions div.action__setup:hover {
    opacity: 1;
}
.explore div.section__head div.section__actions div.action__update {
    width: 24px;
    height: 24px;
    background: url(../img/refresh.svg) no-repeat center;
    background-size: 14px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    opacity: 0.5;
}
.explore div.section__head div.section__actions div.action__update:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
}

.explore div.section__head div.section__actions a.action__open {
    width: 24px;
    height: 24px;
    background: url(../img/external.svg) no-repeat top center;
    background-size: 10px;
    display: inline-block;
    opacity: 0.5;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.explore div.section__head div.section__actions a.action__open:hover {
    opacity: 1;
}

.explore div.section__head .section__setup {
    display: inline-block;
    height: 24px;
    vertical-align: bottom;
}

.explore div.section__head .section__setup .setup__size_range {
    vertical-align: bottom;
    width: 120px;
    margin: 0;
    margin-right: 5px;
    margin-left: 5px;
    height: 24px;
}

.explore div.section__head .section__setup .setup__size_default {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-block;
    opacity: 0.5;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
    background: url(../img/delete.svg) center no-repeat;
    background-size: 14px;
    vertical-align: middle;
    margin-right: 5px;
}

.explore div.section__head .section__setup .setup__size_default:hover {
    opacity: 1;
}

.explore div.section__head div.section__collapses {
    float: right;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background: url(../img/arrow_up.svg) center no-repeat;
    background-size: 32px;
    cursor: pointer;
    transition: transform 0.2s;
    transform: rotate(180deg);
    opacity: 0.5;
}
.explore div.section__head div.section__collapses:hover {
    opacity: 1;
}
.explore li.section-collapsed div.section__head div.section__collapses {
    transform: rotate(270deg);
}
.explore div.section__head:hover div.section__collapses {
    opacity: 1;
}
.explore div.section__head > *:hover ~ div.section__collapses {
    opacity: 0.5;
}

.explore ul.section__pages {
    text-align: center;
}
.explore ul.section__pages.pages-hide {
    display: none;
}
.explore ul.section__pages > li {
    display: inline-block;
    border-radius: 4px;
    margin-left: 2px;
    min-width: 24px;
    height: 16px;
    cursor: default;

    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.explore ul.section__pages > li.item-active {
    background-color: #337af8;
    color: #fff;
}

.explore ul.section__body {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.explore ul.section__body a {
    text-decoration: none;
}
.explore ul.section__body > li {
    display: inline-block;
    position: relative;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.explore ul.section__body div.poster__image {
    text-align: center;
    position: relative;
}

.explore ul.section__body div.poster__image img {
    max-width: 100%;
    box-shadow: 0 0 1px rgba(0,0,0,0.8);
}
.explore ul.section__body div.poster__title {
    position: relative;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 0.857em;
}

.explore ul.section__body div.poster__title a {
    color: #000;
}

.explore.explore-sort .section__collapses,
.explore.explore-sort .section__actions,
.explore.explore-sort .section__setup,
.explore.explore-sort ul.section__body,
.explore.explore-sort ul.section__pages {
    display: none !important;
}
.explore.explore-sort > li > .section__head {
    border-bottom-width: 0;
}
.explore li.ui-sortable-helper {
    background-color: #fff;
    border-radius: 3px;
    opacity: 0.8;
    padding-top: 2px;
    box-shadow: 0 0 1px rgba(0,0,0,0.8);
    height: auto !important;
}
.explore > li.ui-sortable-placeholder {
    height: 25px !important;
}

.explore .ui-sortable-placeholder {
    background-color: #337AF8;
    visibility: visible !important;
    border-radius: 3px;
}
.explore ul.section__body div.poster__image > div.quality {
    position: absolute;
    visibility: hidden;
    bottom: -5px;
    left: -5px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    min-width: 16px;
    padding-left: 2px;
    padding-right: 2px;
    line-height: 18px;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;

    white-space: nowrap;
    font-size: .857em;
}
.explore ul.section__body div.poster__image:hover > div.quality {
    z-index: 14;
    visibility: visible;
}
.explore ul.section__body div.poster__image > div.quality:hover {
    background-color: #fff;
}
.explore ul.section__body div.poster__image > div.quality:hover #info_popup {
    visibility: visible;
}
.explore ul.section__body div.poster__image > a.image__more_link {
    top: 0px;
    background: url(../img/external.svg) no-repeat center;
    background-size: 10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.explore ul.section__body div.poster__image > div.action__favorite {
    top: 20px;
    background: url(../img/favorite.svg) no-repeat center center;
    background-size: 18px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.explore ul.section__body div.poster__image > div.action__rmFavorite {
    top: 20px;
    background: url(../img/rm_favorite.svg) no-repeat center center;
    background-size: 16px;
}
.explore ul.section__body div.poster__image > div.action__edit {
    top: 40px;
    background: url(../img/edit.svg) no-repeat center;
    background-size: 16px;
    background-position-x: 3px;
}
.explore ul.section__body div.poster__image > div.action__move {
    top: 60px;
    background: url(../img/moveble.svg) no-repeat center center;
    background-size: 16px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.explore ul.section__body li div.poster__image > div.action__favorite,
.explore ul.section__body li div.poster__image > div.action__rmFavorite,
.explore ul.section__body li div.poster__image > div.action__move,
.explore ul.section__body li div.poster__image > div.action__edit,
.explore ul.section__body li div.poster__image > a.image__more_link {
    position: absolute;
    right: -10px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
    visibility: hidden;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.explore ul.section__body li div.poster__image > div.action__move {
    cursor: move;
}
.explore ul.section__body li div.poster__image:hover > div.action__favorite,
.explore ul.section__body li div.poster__image:hover > div.action__rmFavorite,
.explore ul.section__body li div.poster__image:hover > div.action__move,
.explore ul.section__body li div.poster__image:hover > div.action__edit,
.explore ul.section__body li div.poster__image:hover > a.image__more_link {
    visibility: visible;
}
.explore ul.section__body li div.poster__image > div.action__favorite:hover,
.explore ul.section__body li div.poster__image > div.action__rmFavorite:hover,
.explore ul.section__body li div.poster__image > div.action__move:hover,
.explore ul.section__body li div.poster__image > div.action__edit:hover,
.explore ul.section__body li div.poster__image > a.image__more_link:hover {
    background-color: #fff;
}

.explore #info_popup:hover {
    visibility: visible;
}
.explore #info_popup {
    position: absolute;
    top: 16px;
    left: 0;
    z-index: 12;
    width: 300px;
    visibility: hidden;
    padding-top: 11px;
    text-align: left;
    cursor: default;
    font-size: 13px;
    white-space: normal;
}
.explore div.popup {
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 4px;
}
.explore #info_popup .corner2 {
    border: 8px solid transparent;
    border-bottom: 10px solid #fff;
    border-top: 0;
    width: 0;
    top: 1px;
    position: absolute;
    left: 50%;
    margin-left: -8px;
}
.explore #info_popup .corner {
    border: 8px solid transparent;
    border-bottom: 10px solid rgb(192, 187, 187);
    border-top: 0;
    width: 0;
    top: 2px;
    position: absolute;
    left: 50%;
    margin-left: -8px;

}
.explore #info_popup .content {
    padding: 6px;
}
.explore #info_popup ul {
    list-style-type: lower-greek;
    padding-left: 20px;
    margin: 0;
    word-wrap: break-word;
}
.explore #info_popup li {
    margin: 0;
    margin-bottom: 6px;
    line-height: normal;
}
.explore #info_popup li:first-child {
    border-bottom: 1px dashed rgb(111, 111, 111);
    margin-bottom: 3px;
    padding-bottom: 3px;
    font-size: 14px;
}
.explore #info_popup li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.dialog__body.dialog-poster_edit {
    width: 320px;
}