@import "popup.css";

body {
    min-width: 960px;
    user-select: none;
    -webkit-user-select: none;
    font-size: 14px;
}

.head {
    position: relative;
    border-bottom: 1px solid #ddd;
}

.quick-menu {
    position: absolute;
    right: 0;
    top: 0;

    padding: 21px;
    padding-left: 25px;
    padding-right: 25px;
}

.quick-menu > a {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    outline-color: #3802FD;
}
.quick-menu > a:hover{
    border-color: #adadad;
}
.quick-menu > a:active {
    background-color: #ebebeb;
    border-color: #adadad;
}

#search_form span {
    height: 28px;
    line-height: 28px;
    font-size: 25px;
}

#main_btn {
    background-image: url(../img/main.png);
}

#history_list a {
    text-decoration: none;
}

.content {
    position: relative;
    user-select: text;
    -webkit-user-select: text;
}

.title a {
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    vertical-align: middle;
}

.title a span {
    color: #000;
}

.title a:visited,
.title a:link {
    color: #1A3DC1;
}

.title a:visited:hover,
.title a:link:hover {
    border-bottom-color: #1A3DC1;
}

.icon {
    background-position: center;
    background-repeat: no-repeat;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    opacity: 0.5;
    transition: opacity 0.2s;
    vertical-align: middle;
}

.icon:hover {
    opacity: 1;
}

*:hover > .icon.del {
    cursor: pointer;
    background-image: url(../img/clear.png);
}

.request {
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 17px;
}

.icon {
    border-radius: 4px;
    border: 1px dashed rgb(165, 165, 165);
}

.date {
    color: #666;
    margin-right: 5px;
}

.linkList {
    margin-left: 70px;
    margin-right: 70px;
}

.linkList .link {
    margin: 5px;
}