body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    font-size: 14px;
}

.loading {
    opacity: 0;
}

.head {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    justify-content: center;
    height: 70px;
}

.search {
    display: inline-flex;
    align-items: center;
    margin: 0 25px;
    flex-grow: 1;
    max-width: 758px;
}

.input_box {
    position: relative;
}

.input__input {
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 22px;
    padding: 0 2px;
}

.input__input-search {
    height: 28px;
    padding-bottom: 1px;
    padding-top: 1px;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 26px;
    width: 512px;
}

.input__input:hover {
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.input__input:focus {
    border: 1px solid #3366ff;
}

.input__clear {
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
    visibility: hidden;
    position: absolute;
    display: inline-block;
    background: url(../img/delete.svg) center center no-repeat;
    background-size: 16px;
    opacity: 0.3;
}

.input__clear-search {
    top: 2px;
    right: 2px;
    width: 24px;
    height: 24px;
}

.input__clear.input__clear_visible {
    visibility: visible;
}

.input__clear:hover {
    opacity: 0.7;
}

.search__submit {
    box-sizing: border-box;
    height: 28px;
    padding: 5px 0;

    display: inline-block;
    background-color: #337AF8;
    border: 1px solid #337AF8;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-left: 2px;
    text-decoration: none;
    outline-color: #3802FD;
    width: 75px;
}

.search__submit:hover {
    background-color: #337AF8;
    border-color: #2B68C1;
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.search__submit:active {
    border-color: #2B68C1;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.ui-autocomplete {
    margin: 0;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 0;
    background: #FFF;
    color: #333;
    list-style: none;
    max-height: 153px;
    overflow-y: auto;
    z-index: 100;
    width: 512px !important;
    padding-left: 0;
    font-size: 14px;
    outline: none;
}
.ui-autocomplete li div {
    padding: 3px 5px;
    cursor: pointer;
}
.ui-autocomplete li div.ui-state-active {
    background-color: #337AF8;
    color: #fff;
}
.ui-helper-hidden-accessible {
    display: none;
}

.menu {
    display: inline-flex;
    align-items: center;
    margin: 0 25px;
}

.menu__btn {
    box-sizing: border-box;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 2px;

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
}

.menu__btn:hover {
    border-color: rgba(0, 0, 0, 0.7);
}

.menu__btn:focus {
    border: 1px solid #3366ff;
}

.menu__btn-history {
    background-image: url(../img/history.svg);
    background-size: 16px;
}

.menu__btn-options {
    background-image: url(../img/options.svg);
    background-size: 16px;
}

.menu__btn-main {
    background-image: url(../img/main.svg);
    background-size: 16px;
}

.content {
    display: flex;
}

.content .main {
    flex-grow: 1;
}

.content-row {
    flex-direction: row;
}

.content-column {
    flex-direction: column;
}

.content-row .parameter_box {
    display: flex;
    flex-direction: column;
}

.content-column .parameter_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: auto;
}

.content-row .parameter {
    margin-top: 8px;
    margin-bottom: 1px;
    padding: 0 5px;
}

.content-column .parameter {
    padding: 0 5px;
}

.content-row .filter__label {
    display: block;
    margin: 2px 0;
}

.content-column .input_box-filter {
    white-space: nowrap;
}

.input__input-word-filter {
    width: 166px;
}

.input__input-range {
    width: 72px;
}

.input_box-time-filter {
    padding-top: 10px;
    display: none;
}

.input_box-time-filter.input_box-time-filter-visible {
    display: block;
}

.scroll_top {
    display: none;
    bottom: 0;
    width: 50px;
    background: url(../img/arrow-up.svg) no-repeat center bottom;
    position: fixed;
    left: 0;
    z-index: 10;
    height: 100%;
    right: 0;
}

.scroll_top:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.scroll_top.scroll_top-show {
    display: block;
}

.button {
    width: 20px;
    height: 20px;
    display: block;
    box-sizing: border-box;
    opacity: 0.7;
}

.button:hover {
    opacity: 1;
}

.button-manage-profile {
    background: url(../img/edit.svg) center no-repeat;
    background-size: 16px;
}

.simple_select {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #000;
    text-decoration: none;
    align-items: center;
    outline: none;
}

.simple_select:hover {
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.simple_select.simple_select-open,
.simple_select:focus {
    border: 1px solid #3366ff;
}

.simple_select__value {
    flex-grow: 1;
    padding: 0 2px;
    width: 114px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.simple_select__btn {
    border-left: inherit;
}

.simple_select__btn__icon {
    display: block;
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

.simple_select:hover .simple_select__btn__icon {
    opacity: 1;
}

.simple_select__btn__icon-arrow {
    background: url(../img/arrow-drop-down.svg) center no-repeat;
    background-size: 16px;
    transition: transform 0.2s;
}

.simple_select-open .simple_select__btn__icon-arrow {
    transform: rotate(180deg);
}

.simple_select__menu {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.simple_select__menu__item {
    color: #000;
    text-decoration: none;
    text-overflow: ellipsis;
    padding: 2px;
    white-space: nowrap;
    overflow: hidden;
    min-height: 16px;
}
.simple_select__menu__item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.simple_select__menu__item.simple_select__menu__item-selected {
    background-color: #337AF8;
    color: #fff;
}

.tracker {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 0;
    max-width: 166px;
}

.tracker__icon {
    width: 16px;
    height: 16px;
}

.tracker__name {
    flex-grow: 1;
    padding: 0 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.manager__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
}

.manager {
    width: 700px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 90;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 70px;
}

.manager a {
    color: #0051D8;
}

.manager__header {
    align-items: center;
    height: 46px;
    padding: 0 14px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}

.manager__header .header__title {
    font-size: 16px;
    flex-grow: 1;
}

.manager__footer {
    border-top: 1px dashed #ccc;
    height: 46px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.manager__footer__btn {
    padding: 0 8px;
}

.manager__profiles {
    display: flex;
    flex-direction: column;
    border-top: 1px dashed #ccc;
    min-height: 370px;
    max-height: 370px;
}

.manager__profile {
    align-items: center;
    height: 46px;
    padding: 0 14px;
    display: flex;
    flex-direction: row;
    border-top: 1px dashed #ccc;
}

.manager__profile .profile__input {
    flex-grow: 1;
}

.manager__trackers {
    display: flex;
    flex-direction: column;
    border-top: 1px dashed #ccc;
    min-height: 370px;
    max-height: 370px;
}

.manager .item {
    display: flex;
    flex-direction: row;
    height: 34px;
    align-items: center;
}

.manager .item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.manager .item__name {
    flex-grow: 1;
    padding: 0 8px;
}

.manager .item__action {
    padding: 0 8px;
}

.manager__trackers {
    display: flex;
    flex-direction: column;
}

.table.results__table {
    display: flex;
    flex-direction: column;
}

.table .table__head {
    display: flex;
    flex-direction: row;
}

.table .table__column {
    display: flex;
    flex-direction: row;
}

.results {
    margin-top: 8px;
}

.results .table .head__row {
    padding: 4px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #000;
    text-decoration: none;
}

.results .table .head__row.head__row-order {
    border-bottom-color: #3366ff;
    border-bottom-width: 2px;
    padding-bottom: 3px;
}

.results .table .head__row-title {
    text-align: center;
}

.results .table .row__title {
    display: inline-block;
}

.results .table .row__sort {
    display: inline-block;
}

.results .table .row-date {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

.results .table .row-title {
    flex-grow: 1;
}

.results .table .row {
    overflow: hidden;
}

.results .table .row-size {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

.results .table .row-seeds {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    text-align: center;
}

.results .table .row-peers {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    text-align: center;
}