body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    font-size: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:link {
    color: #1A3DC1;
}

a:visited {
    color: #609;
}

.loading {
    opacity: 0;
}

.body__head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
}

.search {
    display: inline-flex;
    align-items: center;
    margin: 0 25px;
    flex-grow: 1;
    max-width: 758px;
}

.title {
    height: 28px;
    line-height: 28px;
    font-size: 25px;
    font-weight: normal;
}

.menu {
    display: inline-flex;
    align-items: center;
    margin: 0 25px;
}

.menu__btn {
    box-sizing: border-box;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 2px;

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
}

.menu__btn:hover {
    border-color: rgba(0, 0, 0, 0.7);
}

.menu__btn:focus {
    border: 1px solid #3366ff;
}

.menu__btn-main {
    background-image: url(../img/main.svg);
    background-size: 16px;
}

.main {
    display: flex;
    flex-direction: row;
}

.sections {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    width: 180px;
}

.sections .sections__item {
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    height: 42px;
    align-items: center;
}

.sections a.sections__item {
    color: #000;
    text-decoration: none;
}

.sections .sections__item.item-active {
    background-color: #FFF;
    color: #0051D8;
    border-bottom-color: rgba(0,0,0,0.7);
}

.author {
    padding-bottom: 2em;
    bottom: 0;
    position: fixed;
    width: 180px;
    text-align: center;
}

.options {
    flex-grow: 1;
    padding: 0 5px;
}

.options .page:not(.page-visible) {
    display: none;
}

.page__title {
    font-size: 21px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    font-weight: normal;
    height: 42px;
    margin: 0;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

.page-basic {
    display: flex;
    flex-direction: column;
}