@import "popup.css";

body {
    min-width: 780px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.head {
    position: relative;
    border-bottom: 1px solid transparent;
}

.quick-menu {
    position: absolute;
    right: 0;
    top: 0;

    padding: 21px;
    padding-left: 25px;
    padding-right: 25px;
}

.quick-menu > a {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    outline-color: #3802FD;
}
.quick-menu > a:hover{
    border-color: #adadad;
}
.quick-menu > a:active {
    background-color: #ebebeb;
    border-color: #adadad;
}

#search_form span {
    height: 28px;
    line-height: 28px;
    font-size: 25px;
}

#main_btn {
    background-image: url(../img/main.png);
}

.user-select {
    -webkit-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

a {
    color: #0051D8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
    font-weight: normal;
}

h2 {
    font-size: 1.5em;

    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;

    font-weight: normal;
    margin-top: 9px;

    width: 100%;
}

h3 {
    font-size: 1.2em;

    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;

    font-weight: normal;
    margin-top: 9px;

    width: 100%;
}

textarea {
    width: 580px;
    height: 400px;
}

label.hasChanges::before {
    content: '';
    display: inline-block;
    background: url(../img/dot.svg) center no-repeat;
    background-size: 6px;
    width: 10px;
    height: 10px;
    margin-left: -10px;
    vertical-align: middle;
}

input[type="number"] {
    width: 60px;
}

input[type="text"], input[type="password"] {
    width: 140px;
}

input[type=text] {
    border: 1px solid #cccccc;
    padding-left: 2px;
    line-height: 18px;
    font-size: 14px;
}
input[type=text]:hover {
    border: 1px solid #999999;
}

div.search_panel {
    padding: 21px;
    height: 28px;
    border-bottom: 1px solid transparent;
}
div.search_panel > * {
    display: inline-block;
    vertical-align: middle;
}

.container {
    min-height: 500px;
}

div.container > .content {
    position: relative;
    margin: 0 auto;
    width: 920px;
    width: calc(100%);
}
div.container > .content > .left,
div.container > .content > .right {
    display: inline-block;
    width: 720px;
    width: calc(100% - 200px);
}
div.container > .content > .left {
    padding-left: 5px;
    padding-right: 0px;
    width: 180px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
div.container > .content > .right {
    padding-left: 195px;
    position: relative;
    padding-right: 5px;
}
div.container > .content > .left a {
    display: block;

    border-bottom: 1px solid gainsboro;
    color: #000;
    cursor: pointer;
    margin: 0;
    padding: 0.8em 0.3em;
    text-decoration: none;
}
div.container > .content > .left a.active {
    border-bottom-color: #b6b6b6;
    color: #0051D8;
}
div.container > .content > .left a:hover {
    border-bottom-color: #b6b6b6;
}

div.page {
    display: none;
}

div.page.active {
    display: block;
}

label {
    display: block;
    margin: 5px;
}

label > input,
label > span,
label > select {
    vertical-align: middle;
}

div.info {
    background-color: #f0f7fd;

    border: 1px solid #d0e3f0;
    border-left-width: 5px;
    padding: 10px;

}
.btnList {
    margin-bottom: 10px;
}
.sectionList label {
    display: inline-block;
    width: 30%;
    margin: 5px;
}


input.button {
    background-color: transparent;
    color: #333333;
    border-radius: 2px;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 4px 8px;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #cccccc;
    font-size: 14px;
    outline: 0;
}

input.button:hover {
    background-color: #ebebeb;
    border-color: #adadad;
}

input.button:active {
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
input.button {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.bottom {
    padding-bottom: 2em;
    bottom: 0;
    position: fixed;
    width: 180px;
    text-align: center;
}

#dirList {
    min-width: 200px;
}

#checkContainer {
    text-align: center;
}

#folderList, #labelList {
    width: 400px;
    height: 100px;
}

#clientStatus {
    height: 30px;
}
#clientStatus > span {
    margin-top: 6px;
    display: block;
}
ol.help li {
    padding-top: 3px;
    padding-bottom: 3px;
}
.helpImgContainer {
    text-align: center;
}

input[data-option="kinopoiskFolderId"] {
    width: 100px;
}

.proxyList {
    width: 620px;
}
.proxyList .item {
    padding: 5px;
    border-bottom: 1px dashed #848484;
}
.proxyList .label {
    width: 200px;
}
.proxyList .delete {
    margin-left: 5px;
}
.proxyList .url {
    width: 540px;
    margin-left: 5px;
}
.proxyList form {
    margin: 5px;
}
.proxyList .proxy-type > * {
    display: inline-block;
}
.proxyList .url-options,
.proxyList .host-options {
    display: none;
}
.proxyList .url-show .url-options,
.proxyList .host-show .host-options {
    display: block;
}
.proxyList a.add {
    margin: 5px;
    float: right;
}

.proxyList a {
    color: #0051D8;
}
.proxyList a.btn {
    display: inline-block;
    line-height: 24px;
    height: 24px;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #cccccc;
    background-position: center center;
    background-repeat: no-repeat;
}
.proxyList a.btn:hover {
    border-color: #adadad;
}

.qualityList .header {
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
}
.qualityList .item.show > .header,
.qualityList .item:hover > .header {
    background-color: #EAEAEA;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px 0px inset;
}
.qualityList .item.show {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px 0px inset;
}

.qualityList .header > * {
    display: inline-block;
    vertical-align: middle;
}

.qualityList .header > *:hover ~ .collapses {
    opacity: 0.5;
}
.qualityList .header:hover .collapses {
    opacity: 1;
}

.qualityList .collapses {
    float: right;
    width: 20px;
    height: 20px;
    background: url(../img/arrow_down.svg) center no-repeat;
    background-size: 17px;
    background-position-y: 2px;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}
.qualityList .collapses.down {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}

.qualityList .content {
    padding: 5px;
    display: none;
}
.qualityList .item.show > .content {
    display: block;
}

.qualityList a.button {
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
    color: #000;
}
.qualityList .header a.button {
    display: inline-block;
    vertical-align: middle;
}
.qualityList a.button.remove {
    background-image: url("../img/remove.svg");
    background-size: 20px;
}
.qualityList a.button.new {
    background-image: url("../img/plus.svg");
    background-size: 20px;
}

.qualityList a.button.caseSens {
    text-decoration: none;
    text-align: center;
}
.qualityList a.button.caseSens::after {
    content: 'Aa';
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}

.qualityList a.button.regexp {
    text-decoration: none;
    text-align: center;
}
.qualityList a.button.regexp::after {
    content: '.*';
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}

.qualityList a.button:hover {
    opacity: 1;
}

.qualityList .useCaseSens a.button.caseSens,
.qualityList .useRegexp a.button.regexp {
    opacity: 1;
    color: #0051D8;
}
.qualityList .useRegexp input[type="text"] {
    border-color: #0051D8;
}

.qualityList span.subTitle {
    display: block;
}
.qualityList .newSubItemForm,
.qualityList .wordForm,
.qualityList .rateForm {
    display: inline-block;
    margin: 5px;
    background-color: #EAEAEA;
    padding: 2px;
}
.qualityList .newSubItemForm > *,
.qualityList .wordForm > *,
.qualityList .rateForm > * {
    vertical-align: middle;
}
.qualityList .wordForm input {
    width: 150px;
}
.qualityList .rateForm input {
    width: 60px;
}
.qualityList .rateForm select {
    margin: 0;
    width: 90px;
}
.qualityList .newSubItemForm {
    display: block;
}

.qualityList .newSubItemForm {
    background-color: #fff;
}

.qualityControls {
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

.gzForm {
    margin-top: 36px;
}

#proxyHostPattern {
    width: 235px;
}

#proxyHostPatternList {
    display: block;
    width: 400px;
    height: 200px;
}

.gzForm .item {
    margin: 5px 0;
}