/* Dropdown control */
.simple-select-box-menu {
    border: solid 1px #bbb;
    text-decoration: none;
    text-align: left;
    color: #000;
    outline: none;
    vertical-align: middle;

    cursor: default;

    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    border-radius: 5px;

    background-color: #fff;

    border-top-left-radius: 0;
    border-top-right-radius: 0;

    overflow-y: auto;

    z-index: 100;

    border-top-color: #dbdbdb;
}

.simple-select-box.is-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.simple-select-box-menu > div {
    text-overflow: ellipsis;
    padding: 2px 4px;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 3px;
}

.simple-select-box {
    outline: none;
    border: solid 1px #dbdbdb;
    background: #FFF;
    display: inline-block;
    border-radius: 4px;
    color: #000;
    text-decoration: none;

    white-space: nowrap;
}
.simple-select-box:hover {
    border-color: #bbb;
}

.simple-select-box > div {
    line-height: 24px;
    vertical-align: middle;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.simple-select-box > .arrow {
    display: block;
    float: right;
    width: 24px;
    border-left: solid 1px #dbdbdb;
    height: 24px;
}
.simple-select-box > .arrow > span {
    display: block;
    width: 24px;
    height: 24px;

    background-image: url("../img/arrow-drop-down.svg");
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;

    transition: transform 0.2s;
}

.simple-select-box.is-open > .arrow > span {
    transform: rotate(180deg);
}

.simple-select-box:focus {
    border-color: #bbb;
}

.simple-select-box-menu > div:hover {
    background-color: #eee;
}

.simple-select-box-menu > div.over {
    color: #fff;
    background-color: #337AF8;
}

.simple-select-box .image,
.simple-select-box-menu .image {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    margin-right: 4px;
}

.simple-select-box .image {
    vertical-align: bottom;
    margin-bottom: 5px;
}