@import "popup.css";
@import "selectBox.css";

body {
    min-width: 960px;
    user-select: none;
    -webkit-user-select: none;
}

input[type=text] {
    border: 1px solid #cccccc;
    padding-left: 2px;
    line-height: 18px;
    font-size: 14px
}
input[type=text]:hover {
    border: 1px solid #999999;
}
input[type=text]:focus {
    outline: none;
    border: 1px solid #3366ff !important;
}

body #explore_block {
    display: none;
}

body.home #explore_block {
    display: block;
}

body.home #result_block {
    display: none;
}

.head {
    position: relative;
    border-bottom: 1px solid #ddd;
}

.quick-menu {
    position: absolute;
    right: 0;
    top: 0;

    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.quick-menu > a {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    outline-color: #3802FD;
}
.quick-menu > a:hover{
    border-color: #adadad;
}
.quick-menu > a:active {
    background-color: #ebebeb;
    border-color: #adadad;
}

#main_btn {
    background-image: url(../img/main.png);
}
#history_btn {
    background-image: url(../img/history.png);
}
#settings_btn    {
    background-image: url(../img/settings2.png);
}

.content {
    position: relative;
}
.additional-column {
    padding-top: 5px;
    float: left;
    width: 170px;
    padding-left: 5px;
}
.main-column {
    padding-top: 5px;
    margin-left: 180px;
}

.profile-select-block {
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
}

#edit_profile {
    background: url(../img/edit_list.png) center center no-repeat;
    width: 16px;
    height: 16px;
    z-index: 1;
    opacity: 0.5;
    display: inline-block;
    transition: opacity .2s;
    vertical-align: top;
    margin: 5px;
}
#edit_profile:hover {
    opacity: 1;
}
#profile_select {
    max-width: 149px;
}

.filter-block > p {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 2px;
    line-height: 19px;
}
#time_filter_range {
    margin-top: 7px;
    display: none;
}
#time_filter_range.show {
    display: block;
}

.range input {
    width: 68px;
}

#word_filter_input {
    width: 163px;
    padding-left: 0;
}

#result_category_container {
    margin: 10px;
    margin-top: 5px;
    margin-left: 4px;
    font-size: 13px;
}
#result_category_container div {
    display: inline-block;
    margin-right: 3px;
    border: 1px #ccc solid;
    background-color: #fff;
    border-radius: 3px;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
    line-height: 19px;
    margin: 5px;
    margin-left: 0;
    margin-right: 10px;
}
#result_category_container div.hide {
    display: none;
}
#result_category_container div a {
    text-decoration: none;
    color: #000;
}
#result_category_container div i {
    font-style: normal;
}
#result_category_container div.selected {
    background-color: #337AF8;
    color: #fff;
    cursor: default;
    border: 1px solid #337AF8;
}
#result_category_container div.selected a {
    color: #fff;
}

.tracker-list-block .ui-resizable-s {
    cursor: s-resize;
    background: url(../img/resize.png) no-repeat center center;
    opacity: 0.5;
    transition: opacity 0.2s;
    width: 100%;
    height: 9px;
}
.tracker-list-block .ui-resizable-s:hover {
    opacity: 1;
}

#tracker_list {
    overflow: auto;
}

#tracker_list div {
    display: block;
    line-height: 22px;
}

#tracker_list div > * {
    vertical-align: middle;
    display: inline-block;
}

#tracker_list div:hover > a,
#tracker_list div:hover > i.count {
    background-color: #ddd;
}

#tracker_list div.selected > a,
#tracker_list div.selected > i.count {
    background-color: #337AF8;
    color: #fff;
}

#tracker_list div > i.icon {
    width: 20px;
    height: 20px;
}

#tracker_list div > a {
    width: 120px;
    width: calc(100% - 50px);
    text-decoration: none;
    color: #000;
    word-wrap: break-word;
    padding-left: 2px;
}

#tracker_list div.authItem > a {
    width: calc(100% - 26px);
}

#tracker_list div.authItem {
    margin-left: 24px;
}

#tracker_list div > i.count {
    width: 24px;
    font-style: normal;
}

.icon {
    background-position: center;
    background-repeat: no-repeat;
}
.icon.loading {
    background-image: url(../img/loading.gif) !important;
}
.icon.error {
    background-image: url(../img/timeout.png) !important;
}
.icon.auth {
    background-image: url(../img/login.png) !important;
}

#result_table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 2px;
    user-select: text;
    -webkit-user-select: text;
    font-size: 13px;
}

#result_table thead {
    user-select: none;
    -webkit-user-select: none;
}

#result_table th {
    font-weight: normal;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #000 !important;
    cursor: pointer;
    position: relative;
    font-size: 13px;
    line-height: 21px;
}

#result_table th:first-child {
    padding-left: 10px;
}

#result_table th i.arrow {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    right: -8px;
    display: block;
    transition: transform 0.2s;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 27px;
}

#result_table th:last-child i.arrow {
    left: -8px;
}

#result_table th.sortDown,
#result_table th.sortUp {
    border-bottom-color: #3366ff;
    border-bottom-width: 2px;
}
#result_table th.sortDown i.arrow {
    background-image: url('../img/arrow_up.svg');
}

#result_table th.sortUp i.arrow {
    background-image: url('../img/arrow_up.svg');
    transform: rotate(180deg);
    background-position-y: -5px;
}

#result_table a {
    text-decoration: none;
}

#result_table td.title-column {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
}

#result_table .title-column > span {
    display: block;
    padding-left: 4px;
    padding-right: 4px;
}

#result_table .title a {
    line-height: 130%;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    vertical-align: middle;
}

#result_table .title a span {
    color: #000;
}

#result_table .title a:link {
    color: #1A3DC1;
}
#result_table .title a:visited,
#result_table .title a:visited span {
    color: #609;
}

#result_table .title a:link:hover {
    border-bottom-color: #1A3DC1;
}

#result_table .title a:visited:hover {
    border-bottom-color: #609;
}

#result_table .category {
    margin-top: 3px;
    font-size: 13px;
}

#result_table .category a {
    padding-left: 4px;
    color: #093;
    display: inline-block;
    vertical-align: middle;
}

#result_table .category a:hover {
    text-decoration: underline;
}

#result_table .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    opacity: 0.5;
    transition: opacity 0.2s;
    vertical-align: middle;
}

#result_table .icon:hover {
    opacity: 1;
}

#result_table .date-column {
    text-align: left;
    color: #666;
}

#result_table .seed-column,
#result_table .peer-column{
    text-align: center;
}

#result_table .quality-column {
    text-align: center;
}

#result_table .size-column {
    text-align: center;
}

#result_table .size-column a {
    color: #000;
}

#result_table .size-column a:hover {
    text-decoration: underline;
}