body {
    font-family: Arial;
}
a {
    color: #f89406;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
span.desk {
    font-size: 12px;
}
p {
    font-size: 18px;
}
img {
    padding: 5px;
    background-color: #DDD;
    border-radius: 5px;
}
a.icon:hover img {
    background-color: #ccc;
}
a.icon:hover {
    text-decoration: none;
}