<?xml version="1.0" encoding="utf-8"?>
<widget id="leonardspbox@gmail.com" version="1.0.69.1" xmlns="http://www.w3.org/ns/widgets">
    <name>Torrents MultiSearch</name>
    <description xml:lang="ru">Torrents MultiSearch - поиск по нескольки трекерам сразу!</description>
    <description xml:lang="en">Torrents MultiSearch - search on some of the trackers at once!</description>
    <author email="leonardspbox@gmail.com">Anton V.</author>
    <icon src="icons/icon-128.png"/>
    <icon src="icons/icon-64.png"/>
    <icon src="icons/icon-18.png"/>
    <access origin="*"/>
    <feature name="opera:share-cookies"/>
    <feature name="opera:contextmenus"/>
</widget>