<?xml version="1.0" encoding="utf-8"?>
<widget id="leonardspbox@gmail.com" version="0.7.3" xmlns="http://www.w3.org/ns/widgets">
    <name>Torrents MultiSearch</name>
    <description xml:lang="ru">Torrents MultiSearch - Самые свежие результаты поиска по популярным торрент трекерам!</description>
    <description xml:lang="en">Torrents MultiSearch - The most recent search results for the most popular torrent tracker!</description>
    <author email="leonardspbox@gmail.com">Anton V.</author>
    <icon src="icons/icon-64.png"/>
    <access origin="*"/>
    <feature name="opera:share-cookies"/>
    <feature name="opera:contextmenus"/>
</widget>